.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  margin-bottom: 24px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px 16px 0;
}

.logo {
  display: flex;
  align-items: center;
  height: 30px;
  color: #ff9900;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1048px;
    padding: 9px 24px;
  }
}
